swagger: 3.0.1
info:
  title: Z4K REST API
  version: '1'
servers:
- url: https://a20989a52e5cb42b984fbaa96dbd424f-895005475.eu-central-1.elb.amazonaws.com/zkm
paths:
  "/api/v1/alerts":
    get:
      tags:
      - Alerts
      responses:
        '200':
          description: Success
  "/api/v1/backup-sets":
    get:
      tags:
      - BackupSets
      parameters:
      - name: vpg
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Success
  "/api/v1/backup-sets/{id}":
    delete:
      tags:
      - BackupSets
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
  "/api/v1/backup-sets/refresh":
    post:
      tags:
      - BackupSets
      parameters:
      - name: sync
        in: query
        schema:
          type: boolean
      - name: enqueue
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: Success
  "/api/v1/events":
    get:
      tags:
      - Events
      responses:
        '200':
          description: Success
  "/api/v1/job":
    get:
      tags:
      - Jobs
      responses:
        '200':
          description: Success
  "/api/v1/operations/starttest/{id}/{cp}":
    post:
      tags:
      - Operations
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: cp
        in: path
        required: true
        schema:
          type: string
      - name: sync
        in: query
        schema:
          type: boolean
      - name: enqueue
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: Success
  "/api/v1/operations/stoptest/{id}":
    post:
      tags:
      - Operations
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: sync
        in: query
        schema:
          type: boolean
      - name: enqueue
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: Success
  "/api/v1/operations/checkpoints/{id}":
    get:
      tags:
      - Operations
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: maxAge
        in: query
        schema:
          type: string
      - name: minAge
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Success
  "/api/v1/operations/checkpoints/{id}/{tag}":
    post:
      tags:
      - Operations
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: tag
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
  "/api/v1/operations/restore/test/{id}/{cp}":
    post:
      tags:
      - Operations
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: cp
        in: path
        required: true
        schema:
          type: string
      - name: sync
        in: query
        schema:
          type: boolean
      - name: enqueue
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: Success
  "/api/v1/operations/restore/rollback/{id}":
    post:
      tags:
      - Operations
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: sync
        in: query
        schema:
          type: boolean
      - name: enqueue
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: Success
  "/api/v1/operations/restore/commit/{id}":
    post:
      tags:
      - Operations
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: sync
        in: query
        schema:
          type: boolean
      - name: enqueue
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: Success
  "/api/v1/operations/startlive/{id}/{cp}":
    post:
      tags:
      - Operations
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: cp
        in: path
        required: true
        schema:
          type: string
      - name: sync
        in: query
        schema:
          type: boolean
      - name: enqueue
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: Success
  "/api/v1/operations/livecommit/{id}":
    post:
      tags:
      - Operations
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: sync
        in: query
        schema:
          type: boolean
      - name: enqueue
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: Success
  "/api/v1/operations/liverollback/{id}":
    post:
      tags:
      - Operations
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: sync
        in: query
        schema:
          type: boolean
      - name: enqueue
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: Success
  "/api/v1/operations/move/{id}":
    post:
      tags:
      - Operations
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: sync
        in: query
        schema:
          type: boolean
      - name: enqueue
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: Success
  "/api/v1/operations/movecommit/{id}":
    post:
      tags:
      - Operations
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: sync
        in: query
        schema:
          type: boolean
      - name: enqueue
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: Success
  "/api/v1/operations/moverollback/{id}":
    post:
      tags:
      - Operations
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: sync
        in: query
        schema:
          type: boolean
      - name: enqueue
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: Success
  "/api/v1/operations/ltrbackup/{id}/{cp}":
    post:
      tags:
      - Operations
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: cp
        in: path
        required: true
        schema:
          type: string
      - name: sync
        in: query
        schema:
          type: boolean
      - name: enqueue
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: Success
  "/api/v1/operations/ltrrestore/{bsid}":
    post:
      tags:
      - Operations
      parameters:
      - name: bsid
        in: path
        required: true
        schema:
          type: string
      - name: site
        in: query
        schema:
          type: string
      - name: sc
        in: query
        schema:
          type: string
      - name: ns
        in: query
        schema:
          type: string
      - name: sync
        in: query
        schema:
          type: boolean
      - name: enqueue
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: Success
  "/api/v1/saas/version":
    get:
      tags:
      - Saas
      responses:
        '200':
          description: Success
  "/api/v1/logcollector/collect":
    get:
      tags:
      - SiteLogCollection
      parameters:
      - name: caseNum
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Success
  "/api/v1/logcollector/result/{taskid}":
    get:
      tags:
      - SiteLogCollection
      parameters:
      - name: taskid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
  "/api/v1/logcollector/status/{taskid}":
    get:
      tags:
      - SiteLogCollection
      parameters:
      - name: taskid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
  "/api/v1/logcollector/id":
    get:
      tags:
      - SiteLogCollection
      responses:
        '200':
          description: Success
  "/api/v1/site":
    get:
      tags:
      - Sites
      responses:
        '200':
          description: Success
  "/api/v1/site/{id}":
    delete:
      tags:
      - Sites
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: sync
        in: query
        schema:
          type: boolean
      - name: enqueue
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
  "/api/v1/task":
    get:
      tags:
      - Tasks
      responses:
        '200':
          description: Success
  "/api/v1/tweaks":
    get:
      tags:
      - Tweaks
      parameters:
      - name: all
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Success
    post:
      tags:
      - Tweaks
      responses:
        '200':
          description: Success
  "/api/versions":
    get:
      tags:
      - Versions
      responses:
        '200':
          description: Success
  "/api/v1/volumes":
    get:
      tags:
      - Volumes
      responses:
        '200':
          description: Success
  "/api/v1/vpg":
    get:
      tags:
      - Vpg
      responses:
        '200':
          description: Success
    post:
      tags:
      - Vpg
      parameters:
      - name: sync
        in: query
        schema:
          type: boolean
      - name: enqueue
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: Success
  "/api/v1/vpg/{id}":
    get:
      tags:
      - Vpg
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
    put:
      tags:
      - Vpg
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: sync
        in: query
        schema:
          type: boolean
      - name: enqueue
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: Success
    delete:
      tags:
      - Vpg
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: sync
        in: query
        schema:
          type: boolean
      - name: enqueue
        in: query
        schema:
          type: boolean
      - name: force
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: Success
  "/api/v1/vpg/raw/{id}":
    get:
      tags:
      - Vpg
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
  "/api/v1/vpg/settings/{id}":
    get:
      tags:
      - Vpg
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
  "/api/v1/vpg/refresh/{id}":
    post:
      tags:
      - Vpg
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: sync
        in: query
        schema:
          type: boolean
      - name: enqueue
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: Success
  "/api/v1/vra/{id}":
    get:
      tags:
      - Vra
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
  "/api/v1/vra":
    get:
      tags:
      - Vra
      responses:
        '200':
          description: Success
components:
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please insert JWT with Bearer into field
      name: Authorization
      in: header
security:
- Bearer: []
